{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/styles/views/register.css' %}" />
{% endblock %}

{% block content %}
<main id="page">
    <form method="post" id="register-form">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <div class="field">
            <label for="username">
                Username
            </label>
            <input name="username" id="username" required />
        </div>
        <div class="field">
            <label for="email">
                Email
            </label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="field">
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" required />
        </div>
        {% if error_message %}
        <span id="error-message">{{ error_message }}</span>
        {% endif %}
        <input type="submit" value="REGISTER" id="submit-regiter-form" />
        <p>Already have an account? <a href="{% url 'users-login' %}">sign in</a></p>
    </form>
</main>
{% endblock %}