{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/styles/views/home.css' %}" />
{% endblock %}

{% block content %}
<main id="page">
    <div id="welcome-container">
        <h1>Welcome to the home page.</h1>
        <span>
            <a href="/users/login" id="go-login-button">Sign In</a>
            <b>or</b>
            <a href="/users/register" id="go-register-button">Sign Up</a>
        </span> 
    </div>
</main>
{% endblock %}