<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/__reset__.css' %}" />
    <link rel="stylesheet" href="{% static 'main/styles/views/home.css' %}" />
</head>
<body>
    <main id="page">
        <div id="welcome-container">
            <h1>Welcome to the home page.</h1>
            <span>
                <a href="/users/login" id="go-login-button">Sign In</a>
                <b>or</b>
                <a href="/users/register" id="go-register-button">Sign Up</a>
            </span> 
        </div>
    </main>
</body>
</html>